<AuthorizeView>
    <Authorized>
        <Summary />

        <a class="btn btn-outline-primary mx-2" href="Identity/Account/Manage">
            <span class="oi oi-person text-white"></span>
        </a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class=" btn btn-primary ">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <Summary />
        <a class="btn btn-primary" href="Identity/Account/Login">Log in</a>

    </NotAuthorized>
</AuthorizeView>
